asgiref==3.11.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
defusedxml==0.7.1
Django==3.2.16
django-filter==23.5
djangorestframework==3.12.4
djangorestframework_simplejwt==5.2.2
djoser==2.2.0
gunicorn==20.1.0
idna==3.11
oauthlib==3.3.1
packaging==25.0
Pillow==9.5.0
psycopg2-binary==2.9.9
pycparser==2.23
PyJWT==2.10.1
python3-openid==3.2.0
requests==2.32.5
requests-oauthlib==2.0.0
social-auth-app-django==5.4.0
social-auth-core==4.5.1
sqlparse==0.5.4
urllib3==2.5.0
